build
gradlew
gradlew.bat
/buildSrc/build/
/buildSrc/.gradle/
/*/out/
/*/build/
/out/
/build/
/.idea
/.idea/.gitignore
/core/src/main/resources/META-INF/DRIVERS
/*.iml
/*/*.iml
core/src/main/resources/META-INF/DRIVERS

