build
gradlew
gradlew.bat
/.gradle/
/buildSrc/build/
/buildSrc/.gradle/
/*/out/
/*/build/
/out/
/build/
/.idea
/.idea/.gitignore
/core/src/main/resources/META-INF/DRIVERS
/core/*.gen
/*.iml
/*/*.iml
core/src/main/resources/META-INF/DRIVERS

/pg/*.txt
/pg/*.bpg
/pg/*.bak
/pg/*.asc
